{{ partial "header" . }}

<main>

    <div class="intro">

        <h1>{{ .Site.Title }}</h1>

        <h2>{{ markdownify .Site.Params.Description }}</h2>

        <hr>
        <br>
        {{ .Content }}
    </div>

</main>

{{ partial "footer" . }}
