<div style="overflow-x:auto;">
  <table>    
    <thead>
      <tr>
      <th>Symbol</th>
      <th>Momentum_Lag_21</th>
      <th>Momentum_Now</th>
      <th>Acceleration</th>
      </tr>
    </thead>
    <tbody>
    {{ $sep := "," }}
    {{ range $i, $r := getCSV $sep .Params.url }}
      <tr>
        <td>{{ index $r 0 }}</td>
        <td>{{ index $r 1 }}</td>
        <td>{{ index $r 2 }}</td>
        <td>{{ index $r 3 }}</td>
      </tr>
    {{ end }}
    </tbody>
  </table>
</div>
