<div style="overflow-x:auto;">
  <table>    
    <thead>
      <tr>
      <th>Symbol</th>
      <th>Dispersion</th>
      <th>Consensus Estmate</th>
      <th>High Estimate</th>
      <th>Low Estimate</th>
      <th>Earnings Date</th>
      <th>Time of Day</th>
      <th>Recent Close</th>
      </tr>
    </thead>
    <tbody>
    {{ $sep := "," }}
    {{ range $i, $r := getCSV $sep .Params.url }}
      <tr>
        <td>{{ index $r 0 }}</td>
        <td>{{ index $r 10 }}</td>
        <td>{{ index $r 1 }}</td>
        <td>{{ index $r 2 }}</td>
        <td>{{ index $r 3 }}</td>
        <td>{{ index $r 6 }}</td>
        <td>{{ index $r 5 }}</td>
        <td>{{ index $r 8 }}</td>
      </tr>
    {{ end }}
    </tbody>
  </table>
</div>
